/* CSS files add styling rules to your content */
*{
  margin:0;
  padding: 0;
  box-sizing:border-box;
}
.map-container{
  display: flex;
  float:left;
  background-color: #599da;
  border: 1px solid #fff;
}
#mapOne{
  position: absolute;
  left: 50px;
  top: 30px;
  height: 50vh;
  float: left;
  width: 50vh;
  border: 2px solid;
  border-color: #1D3023;
}
#mapTwo{
  position: absolute;
  left: 500px;
  top: 30px;
  height: 50vh;
  float: left;
  width: 50vh;
  border: 2px solid;
  border-color: #1D3023;}
#mapThree{
  position: absolute;
  left: 50px;
  top: 500px;
  height: 50vh;
  float: left;
  width: 50vh;
  border: 2px solid;
  border-color: #1D3023;}
#mapFour {
  position: absolute;
    left: 500px;
    top: 500px;
    height: 50vh;
    float: left;
    width: 50vh;
    border: 2px solid;
    border-color: #1D3023;
}












.sidebar {
  background: #ffffff;
  display:flex;
  float: right;
  font-family: sans-serif;
  height: 130vh;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 33%;
  border-left: 2px solid;
  box-shadow: 0 0 15px 10px #black;
  padding: 5 5 5 5;
  border-color: #000000;
}

.dropdown{
  position: relative;
  display: inline-block;
}
.dropbtn{
  background-color: #3409DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.menu:hover, .menu:focus {
    background-color:#2980B9;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index:1;
}
.dropdown-content a {
  color:black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #ddd}
.show {display:block;}
